@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
  
}

header{
    position:fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para destacar */
    z-index: 1000; /* Mantém acima de outros elementos */
}

.topbar{
    padding: 1%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
}
.logo{
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

.logo__click{
    text-decoration: none;
    color: #2c2c2c;
}

.menu {
    font-family: "Montserrat", serif;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu a{
    text-decoration: none;          
    font-size: 1.125rem; 
    font-weight: 600;       
    color: #2c2c2c; /* Cor inicial */
    transition: color 0.5s ease;
}

.menu a:hover, 
.menu a.active{
    color: red;    
    text-decoration: none;
}

.content {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity; /* Faz o snap vertical obrigatório */
}

/* Seções */
section {
    min-height: 100vh;
    width: 100%; /* Ocupa a tela toda */
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    scroll-snap-align: start; /* Cada seção será um ponto de parada */
}



.content__inicio__texto{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 11.5%;
    

}



#inicio { 
    background-image: url('/assets/img/01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.inicio__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #f6f6f6;
    text-shadow: 2px 2px #000;
    margin-left: 24%;
}
.inicio__paragrafo{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #f6f6f6;
    text-shadow: 2px 2px #000;
    margin-left: 24%;
}


#about { 
    display:flex;
    gap: 100px;
    justify-content: center;
    width: 100%;
 }

.about__img{
    max-width: 25%;
    max-height: 70%;
    
}

.img2{
    max-width: 100%;
    max-height: 100%;
    border-radius: 2000px;
    box-shadow: 0 0 3px  rgba(0, 0, 0, 0.5);
}

.about__conteudo{
    width: 25%;
    height: 50%;    
}

.about__titulo {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: red;
    text-align: center;
    letter-spacing: 15px;
}

.about__paragrafo {
    margin-top: 9%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color:#2c2c2c;
    line-height: 2rem;
    
    
}

.about__botao{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    padding: 15px;
    background-color:red;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 30%;
    border-radius: 5px;
    border: 2px solid white;
    transition: color 0.2s  ease;
    transition: background-color 0.2s ease;
    transition: border 0.2s ease;
}

.about__botao:hover{
    background-color: white;
    color: red;
    border: 2px solid red;

}

#portfolio { background-color: #555; }
#contato { background-color: #666; }



@media (max-width:1200px){
    
    .topbar{
        flex-direction: column;
        gap:10px;
        padding: 0;
    }
    
    .menu{
        gap:10px;
    }

    .inicio__titulo{
        margin-left: 8%;
    }
    
    #inicio {
        background-position: center;
    }

    .inicio__paragrafo{
        margin-left: 8%;
    }


    
}