@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(65, 65, 65);
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    font-family: "Montserrat", serif;
    font-weight: 600;
    margin: 0 0 0 27%;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.menu {
    font-family: "Montserrat", serif;
    margin: 0 27% 0 0;
    display: flex;
    justify-content: space-between;
}

.menu__link{
    padding: 15px 20px;
    text-decoration: none;
    color: #ffffff
}
